[Desktop Entry]
Version=1.0
Name=TrueOS Mount Tray
Exec=pc-mounttray
TryExec=pc-mounttray
Terminal=false
Type=Application
Icon=drive-removable-media-usb
Categories=Utility;
GenericName=Manage Removable Devices
